# ==============================
# Ignore all processed data
# ==============================
data/processed/

# Ignore raw large sequence files
data/raw/

# QC outputs
data/processed/

# Logs
reports/logs/

# Large sequence formats
*.fasta
*.fa
*.fna
*.faa
*.ffn
*.aln
*.msa

# Large tables
*.tsv
*.csv

# Mac system files
.DS_Store
